$bg-color: #2F2F2F;
$bg-color-semidark:#414040;
$bg-color-semilight:#484848;
$font-color-dark-bg: #FFFFFF;
$borderColor: #F4733A;
$borderColorLight:#d49d42;
$borderRadius:5px;


body {
    background-color: $bg-color;
    color:$font-color-dark-bg;
  }