//Screen width for responsive design
// $sm-width:600px; //smartphone
// $md-width:1024px; //tablets
// $lg-width:3840px;

@media (min-width: $md-width) { //laptop and bigger
    .mobileSideBarLayout{
        display:none !important;
    }
}

@media (max-width: $sm-width) { //smartphone
    body{
        font-size: 13px;
    }
    .sideBarContainer{
        display: none !important;
    }
    .layoutContainer{
        display:grid;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 1fr;
        grid-template-areas: "displayContainer";
    }
}