@import '../Config/config';
@import './defaultMediaQueries';
@import './defaultAnimation';

body {
    background-color: $bg-color;
    color:$font-color-dark-bg;
}

button{
    background-color: transparent !important;
    color: $borderColor !important;
    &:hover{
        border:solid 1px $borderColor !important;
        background-color: $buttonHoverBg !important;
        color:white !important;
    }
}

.mobileSideBarLayout{
    display: none;
}
.layoutContainer{
    display:grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sideBarContainer displayContainer";
    gap:10px;
    height:100%;
    padding: 10px;
    max-height: 1vh;
}
.sideBarContainer{
    grid-area: sideBarContainer;
}
.displayContainer{
    grid-area: displayContainer;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    animation: loadedAnima 1s;
    border:solid 2px $borderColor;
    border-radius: $borderRadius;
    box-shadow: 0 0 5px $borderColor;
    padding:10px;
    background-color: $bg-color-semidark;
    overflow-y: auto;

}

.dataContainer{
    border:solid $borderColor 2px;
    border-radius: $borderRadius;
    background-color: $bg-color-semidark;
    box-shadow: 0 0 5px $borderColor;
}

.MuiOutlinedInput-notchedOutline {
    border-width: 1px !important;
    border-color: $borderColor !important;
    color: $borderColor !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: $borderColor !important;
}

.MuiInputLabel-animated{
    color:$borderColor !important;
}

.MuiOutlinedInput-input{
    color:$borderColor !important;
}

.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon{
    color: $borderColor !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list{
    background-color: $bg-color-semidark;
    color:$borderColor;

}

@media (min-width: $sm-width) {
    .mobileSideBarLayout{
        display:none !important;
    }
}

@media (max-width: $sm-width) {
    body{
        font-size: 13px;
    }
    .sideBarContainer{
        display: none !important;
    }
    .layoutContainer{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 8fr 1fr;
        grid-template-areas: "displayContainer";
    }
}