@import "Config/config";


.ArrayDisplay{
  display: grid;
  height:100%;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25fr 1fr 0.25fr;
  grid-template-areas: "titleContainer"
  "formContainer"
  "commentContainer";
}

.titleContainer{
  grid-area: titleContainer;
  display:grid;
  gap: 10px;
  color:$borderColor;
  grid-template-areas: "adminIcon adminTitle";
  .title{
    display: flex;
    align-items: center;
    grid-area: adminTitle;
  }
  .icon{
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: adminIcon;
    svg{
      font-size: 40px;
    }
  }
}

.formContainer{
  display:flex;
  margin:auto;
  flex-direction: column;
  width:50%;
  p{
    flex-grow: 1;
  }
  input{
    flex-grow: 1;
  }
  label{
    flex-grow: 1;
  }
  div{
    display:flex;
  }
  .formcontent{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  button{
    flex-grow: 1;
    background-color: transparent;
    color: $borderColor;
    &:hover{
      border:solid 1px $borderColor;
      background-color: $buttonHoverBg;
      color:white;
    }
    &:active{
      border:solid 1px $borderColor;
      background-color: $borderColorClick;
      color:white;
    }
  }
}
.form{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.selectCryptoContainer {
  p{
    display:none;
  }
}
.commentContainer{
  background-color: $bg-color-semilight;
  grid-area: commentContainer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $borderColor;
  padding:15px;
  border: solid $borderColor 2px;
  border-radius: $borderRadius;
  a{
    color : $borderColorLight;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.SelectCryptoBox{
  width:206px;
  margin: 10px;
}