@import 'Config/config';
.profileLayout{
    display:grid;
    gap: 5px;
    .profileThumbnailContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 250px;
            max-height: 250px;
            border-radius: $borderRadius;
        }
    }
    .profileInfoContainer {
            display:flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        #edit{
            button{
                width:125px;
            }
        }
        #delete{
            button{
                width:125px;
            }
        }
        width:100%;
        .userInfo{
            display: flex;
            align-items: center;
        }
        .labelInfo{
            display:flex;
            align-items: center;
            color:$borderColor;
            grid-area: labelinfo;

        }
    }
}

@media screen and (max-width: $md-width) and (min-width:$sm-width) { // between smartphone and tablet display
    .SelectCryptoBox{
        max-width: 205px;
    }
}