@import 'Config/config';
.mobileSideBar{
    display:none;
}
.sideBarContainer{
    padding:10px;
    background-color: $bg-color-semidark;
    border:solid $borderColor 2px;
    box-shadow: 0px 0px 5px $borderColor;
    border-radius: $borderRadius;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 4fr;
    grid-template-areas: 
    "logoLocation logoLocation logoLocation"
    "userLocation userLocation userLocation"
    "differentMenus differentMenus differentMenus";
    gap:10px;
    align-items: center;
    animation: loadedAnim 1s;
    .logoLocation{
        grid-area: logoLocation;
        flex-grow:1;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width:60%;
            &:hover{
                animation: shadowAnim 0.5s forwards alternate;
                color:$borderColor;
                background-color: $bg-color-semilight;
                cursor:pointer;
            }
        }
    }
    .userLocation{
        grid-area: userLocation;
        grid-template-rows: 1fr;
        grid-template-columns: 0.5fr 1fr;
        grid-template-areas: "userProfilePicture usernameContainer"
        "userProfilePicture usernameContainer";
        width:100%;
        display: grid;
        background-color: $bg-color-semilight;
        border-radius: $borderRadius;
        animation: loadedAnim 1s;
        text-decoration: none;
        .userProfilePicture{
            padding:5px;
            display: flex;
            justify-content: center;
            align-items: center;
            grid-area: userProfilePicture;
            img{
                width:75px;
                border-radius: 100%;
                margin:auto;
            }
        }
        
        .usernameContainer{
            grid-area: usernameContainer;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
            grid-template-columns: 1fr;
            grid-template-areas: "username"
            "userMail";
            .userName{
                color: $borderColor;
                text-decoration: none;
                display:flex;
                align-items: end;
                grid-area: username;
                font-weight: bold;
            }
            
            .userMail{
                grid-area: userMail;
                font-size: 12px;
                font-style: oblique;
                color:$borderColorLight;
                text-decoration: underline;
            }

            .login{
                grid-area: userMail;
                font-size: 16px;
                font-style: oblique;
                color:$borderColorLight;
                text-decoration: underline;
                font-weight: bold;
            }
        }

        &:hover{
            cursor:pointer;
            background-color: $bg-color-light;
            animation: shadowAnim 0.5s forwards alternate;
        }
    }
    
    .differentMenus{
        grid-area: differentMenus;
        height:100%;
        display: grid;
        gap:15px;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,2fr);
        grid-template-areas: 
        "menu1 menu1 menu1 menu1"
        "menu2 menu2 menu2 menu2"
        "menu3 menu3 menu3 menu3"
        "menu4 menu4 menu4 menu4";
        padding: 15px;
        #menu1{
            grid-area: menu1;
        }
        #menu2{
            grid-area: menu2;
        }
        #menu3{
            grid-area: menu3;
        }
        #menu4{
            grid-area: menu4;
        }
        .Menu{            
            border:$borderColor;
            display: flex;
            align-items: center;
            color:white;
            &:hover{
                color:$borderColor;
                background-color: $bg-color-semilight;
                cursor:pointer;
                .menuLabel{
                    text-decoration: underline;
                }
                animation: shadowAnim 0.5s forwards alternate;
            }
        }

        .menuIcon{
            padding-left: 5px;
            font-size:25px;
        }

        .menuLabel{
            margin-left: 10px;
            text-decoration: none;
        }
    }
}

.mobileSideBarLayout{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "sandwich logo signOut";
    color:$borderColor;
    .mobileLogo{
        grid-area: logo;
        display:flex;
        justify-content: center;
        align-items: center;
        img{
            max-width: 150px;
        }
        &:active{
            background-color: $bg-color-semilight;
            animation: shadowAnim 0.1s forwards alternate;
        }
    }
    .mobileSandwichLogo{
        grid-area: sandwich;
        display:flex;
        justify-content: center;
        align-items: center;
        &:active{
            background-color: $bg-color-semilight;
            animation: shadowAnim 0.1s forwards alternate;
        }
    }
    .mobileSignOut{
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: signOut;
        &:active{
            background-color: $bg-color-semilight;
            animation: shadowAnim 0.1s forwards alternate;
        }
    }
    .Icons{
        font-size:50px;
    }
}

@keyframes shadowAnim {
    0% {
    box-shadow: none;
    }
    100% {
        box-shadow: 0px 0px 5px $borderColor;
    }
}

@keyframes loadedAnim{
    0%{
        width:0%;
    }
    100%{
        width:94%;
    }
}