$bg-color: #2F2F2F;
$bg-color-semidark:#414040;
$bg-color-semilight:#484848;
$bg-color-light:#737373;
$font-color-dark-bg: #FFFFFF;
$borderColor: #F4733A;
$buttonHoverBg : #ff8b5a;//WARNING same things with two different names. TO REMOVE !!!!!
$borderColorHover: #ff804a;
$borderColorClick:#f56020;
$borderColorLight:#d49d42;
$borderRadius:5px;
$errorFontColor:#ff6767;
$tabletWidth:1024px;
$smartphoneWidth:768px;


//Screen width for responsive design
$sm-width:600px; //smartphone
$md-width:1024px; //tablets
$lg-width:3840px;

.hidden{
    display:none !important;
}

::selection {
    background-color: $borderColorLight;
    color: white;
  }

button{
    background-color: $borderColor;
    width:auto;
    height:auto;
    padding:10px;
    border:$bg-color;
    color:white;
    border-radius: $borderRadius;

    &:hover{
        background-color: $borderColorHover;
        cursor:pointer;
        box-shadow: 0px 0px 5px $borderColorHover;
    }

    &:active{
        background-color: $borderColorClick;
    }
}